.Button {
    background-color: transparent;
    border: none;
    color: #5C9210;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 0;
    margin: auto;
    font-weight: bold;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    text-align: center;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    background-color: #CF8F2E;
    color: white;
}

.Success:hover {
    transition: all 0.5s ease-out;
    background-color: #AA6817;
}

.Danger {
    background-color: #944317;
    color: white;
}

.Danger:hover {
    transition: all 0.5s ease-out;
    background-color: #6a3214;
}

.orderSuccess {
    background-color: #CF8F2E;
    color: white;
    margin: 0 5px 0 5px;
}

.orderSuccess:hover {
    transition: all 0.5s ease-out;
    background-color: #AA6817;
}

.orderDanger {
    background-color: #944317;
    color: white;
    margin: 0 5px 0 5px;
}

.orderDanger:hover {
    transition: all 0.5s ease-out;
    background-color: #6a3214;
}

.Button:disabled {
    color: #cccccc;
    cursor: not-allowed;
}

.authBot {
    margin: 0;
    color: #3993cc;
}